.rd-mission{
    margin: 6% 0;
    background-color: white;
}
.lead-right-margin{
    color: #000;
    font-size: 20px;
    text-align: left;
}
.vissionrow2{margin-top: 4%;}
.title-mission{
    font-size: 30px;
    font-weight: 700;
    color: #30a6e9;
    text-align: left;
}

.missionhead{
    font-size: 30px;
    font-weight: 700;
    color: #30a6e9;
    text-align: left;

}
.rd-vision-title p{
    font-size: 20px;
    text-align: left;
    margin-top: 21px;  
}
.backmission{
    width: 100%;
    height: 300px;
}
.mission{
    width: 100%;
    height: 300px;
}
