/* css for media kit */
.media-kit{
    background-color:#1c1f1f;
    height:250px;
}
.mediakithead{ margin-top: 20px;
    text-align: justify;}
.media-kit p{
    font-size: 17px;
    text-align: justify;
    word-spacing: -2px;

}
.download-button{
    margin-top: 60px;
    border-radius: 25px;
    color:white;
    border: 2px solid black;
    background-color:#30a6e9;
}
.footer-cont{
    background-color: black;
}
.footaddmapicon{
    color: white;
    font-size: 20px;
}
.footaddvascon{
    color: white;
    font-size: 15px;
    padding-left: 14px;
    word-spacing: -3px;
}
.Email-info{
    padding-left: 14px;
}
.footemailimg{
    width: 30px;
}
/* css for RD info p */
.text-footer-info{
  text-align: left;
  font-weight: 400;
}
.footer-tit{
    padding-right: 35%;
    font-size: 20px;
}
.footer-row{
    padding: 20px 0;
}
/* css for contact us */
.contactus-footer{
    padding-bottom: 10px;
    font-size: 20px;
    text-align: initial;
}
.text-email{
    float: left;
    font-weight: 900;
}
.services li:hover{
    transition: all .2s ease-in-out;
    left: -13px;
    padding-left: 18px;
    padding-right: 0;
}
.img-ind , .img-us{
    float: left;
    width:30px;
    height:20px;
}
.hr-line{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #7a7a7a;
    width: 200px;
    margin-left: 28%;
}
.hr-linecontact{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #7a7a7a;
    width: 250px;  
}
/* css for services */
.services {
    line-height: 0px;
    color:white;
    list-style: none;
    padding: 10px 0;
}
.services i{
    color:white;
}
.services a:hover{
    color: white; 
    text-decoration: none;
}
.services-webdevlopment{
    color: white;
    text-decoration: none;
}
#arrow1{margin-right: 7px;}
#arrow2 { margin-left: 35px;}
#arrow3{margin-left: 60px;}
#arrow4{margin-left: 12px;}
#arrow5{margin-left: 22px;}
#arrow6{margin-left: 45px;}
.services-webdevlopment{font-size: 15px;}
.services-webdevlopment :hover{ color:white;}
/* css for copyright */
.copyright-center{
    color:white;
    text-align: initial;
}
.copyright-section{
    background-color: #1c2025;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyrighttxt{
    color:#30a6e9 ;
    font-size: 13px;
    padding-left: 16px;
}
.copyrighttxt:hover{
    color: #266a91;
}
/* css for footerlinks */
.footer-links{
    list-style: none;
}

/* css for newsletter */
.footer-newsletter p {
    padding: 10px;
    font-size: 15px;
}
.newsletter-input1{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 60%;
    height: 40px;
    border-style: none;
}
.newsletter-input1:focus{  outline: none;}
.subscribe-footer{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 39px;
    background-color: #30a6e9;
    color: white;
    border-style: none;
    width: 100px
}

  /* css for social link */
   .social-links-footer a {
    font-size: 18px;
    display: inline-block;
    background: #2b2b2b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
    .social-links-footer a:hover {
    background: #4154f1;
    color: #fff;
    text-decoration: none;
  } 
  /* css for up arrow */
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top:hover {
    color: #fff;
    text-decoration: none;
}
.back-to-top a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #30a6e9;;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
}
.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0; 
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
@media only screen and (min-width:992px) and (max-width: 1200px) {
    .newsletter-input1 {width: 52%;}
}

    