.counts {margin: 7% 0;}
.count-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 150px;
    background: #fff;
    box-shadow: 2px 2px 8px 1px #30a6e9;
    border-radius: 45px 0 50px 0;
  } 
.count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: #4154f1;
  }
.count-box span {
    font-size: 22px;
    display: block;
    font-weight: 600;
    color: #0b198f;
    display: contents;
  }
.count-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  .counter_founded{
    margin-left:70px;
  }
  .counter-F i{
    margin-top: -145px;
    margin-left: 95px;
  }
  .countpoject-para{
    margin-left:10px;
  }
.Happy-Clients i{
    color: #ee6c20;
    position: absolute;
    margin-top: -150px;
    margin-left: 42px;
    font-size: 50px;
}
.Projects i{
    color: #15be56;
    position: absolute;
    margin-top: -150px;
    margin-left: 42px;
    font-size: 50px;
}
.Hours-Support i{
    color:#bb0852;
    position: absolute;
    margin-top: -150px;
    margin-left: 42px;
    font-size: 50px;
}
.Hard-Workers i{
    color:#4154f1;
    position: absolute;
    margin-top: -150px;
    margin-left: 42px;
    font-size: 50px;
}
 .counter-p p{
    font-size: 20px;
    font-weight: 600;
 } 
.counts .count-box i {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 115px;
  left: 25%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #fff;
  color: #e03a3c;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .count-box { margin-top: 15%;}    
  .counts .count-box i {left: 35%;}
}
@media only screen and (min-width: 480px) and (max-width: 575px) {
  .count-box {
    width: 61%;
    margin-left: 21%;}       
}
@media only screen and (min-width: 575px) and (max-width: 768px) {
  .count-box { margin-top: 15%;} 
  .counter_founded{ font-size: 20px;}
  .coungrowth{font-size: 10px!important;}
}
@media only screen and (min-width:769px) and (max-width: 991px) {
  .coungrowth {font-size: 10px!important;}
  .count-box { margin-top: 16%;}

}