.image-clientslider{
  width:100%;
  height:100%;
  margin:20px;
  overflow-x: hidden;
}
.image-clientslider img{
  width:150px;
  margin: 20px;
  overflow-x: hidden;
}
.clients{
  overflow-x: hidden;
}
@media only screen and (min-width: 320px) and (max-width: 400px) {
  .image-clientslider{
    margin-left: 45px;
    margin-right: 51px;}
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .image-clientslider{
    margin-left: 70px;
    margin-right: 55px;}
}
